@media only screen and (min-width: 769px) {
   img {
       width: 100%;
       height: 80%;
   }
 .grid 
  {
    margin: 0 auto;
    padding-right:100px;
    padding-left: 100px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-gap: 20px;
   }
   picture:hover {
       box-shadow: 0 0 50px #333;
    }
}