@media only screen and (min-width: 426px) and (max-width: 768px) {
    .grid { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    img {
        width: 100%;
    }
    #logo {
        width: 50px;
        display: inline;
    }
    nav {
        margin: 0 auto;
        max-width: 100%;
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
    nav ul li a:link {
        text-decoration: none;
    }
    nav ul li a:hover {
        background-color: rgba(236, 22, 22, 0.4);
    
    }
    nav ul li.active a{
        color: #fff;
    }
    
    nav ul.hide {
        display: none;
    }
    
    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: none;
        font-size: 1.6em;
        color: #555;
        float: right;
        position: absolute;
        top: 98px;
        right: 5px;
    }
}