        body {
            max-width: 1200px;
            margin: 0 auto;
        }
        
        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px 70px;
            background-color: #EA9D90;
        }
        
        nav {
            list-style: none;
        }
        
        nav li {
            display: inline-block;
            text-transform: uppercase;
            background-color: #f3ebbc;
            border: 2px solid white;
            padding: 15px;
            color: #EA9D90;
            margin: 15px;
        }
        
        nav li a {
            color: pink;
            text-decoration: none;
        }
        
        nav li a:hover {
            color: rgb(192, 255, 245);
            transition: 0.5s;
            color: black;
        }
        
        .logo {
            padding: 15px;
            background-color: #f3ebbc;
            border: 2px solid white;
            padding: 15px;
            color: #EA9D90;
        }
        
        main {
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 10px;
            grid-gap: 10px;
        }
        
        .titleandinfo {
            max-width: 500px;
            border: 5px solid #EA9D90;
            grid-column: 2/4;
            grid-row: 1/2;
        }
        
        main img {
            grid-column: 5/7;
            grid-row: 1/2;
        }
        
        .card1 {
            grid-column: 2/3;
            grid-row: 2/3;
            border: 5px solid #EA9D90;
            background-color: #f3ebbc;
            justify-self: center;
        }
        
        .card2 {
            grid-column: 3/6;
            grid-row: 2/3;
            border: 5px solid #EA9D90;
            background-color: #f3ebbc;
            justify-self: center;
        }
        
        .card3 {
            grid-column: 6/7;
            grid-row: 2/3;
            border: 5px solid #EA9D90;
            background-color: #f3ebbc;
            justify-self: center;
        }
        
        .card1 .card2 .card3 {
            c
        }
        
        footer {
            border: 5px solid #EA9D90;
            background-color: #f3ebbc;
        }