    
    /*Every Small CSS Page Header, Navigation, Body, Logo, Footer*/
    header {
        background-color: #6B8F71;
        font-family: 'Girassol', cursive;
        padding: 20px;

    }
    nav {
        margin: 0 auto;
        max-width: 100%;
    }
    .navigation {
        list-style: none;
        padding: 0;
    }
    .navigation a {
        display: block;
        padding: 0.75rem;
        text-align: left;
        text-decoration: none;
        color: black;
        font-weight: 700;
    }
    body {
        font-family: 'Noto Sans JP', sans-serif;
        max-width: 425px;
        margin: 0 auto;
    }
    nav button {
        margin-right: auto;
        background-color: transparent;
        border: none;
        font-size: 1.6em;
        color: #555;
    
    }
    #logo {
        width: 50px;
        display: inline;
    }
    h1 {
        display: inline;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    nav ul li a {
        display: block;
        padding: .8rem;
        text-decoration: none;
        color: black;
        background-color: tomato;
    }
    
    nav ul li a:hover {
        background-color: rgba(236, 22, 22, 0.4);
    
    }
    nav ul li.active a{
        color: #fff;
    }
    
    nav ul.hide {
        display: none;
    }
    footer {
        margin-top: 20px;
        background-color: #6B8F71;
        padding: 10px;
        text-align: center;
    }
    /*End EveryPage CSS Small*/

    /*Storm Center Small CSS*/
    fieldset {
        padding: 0.35em 0.75em 0.625em;
    }
    
    [type="checkbox"], [type="radio"] {
     box-sizing: border-box;
     padding: 0; 
     color: darkgrey;
}
   
form fieldset {
        margin: 1.3rem 0;
        border: 4px solid tomato;
        padding: .5rem 2%;
        border-radius: .8em;
          
    } 
    form span {
        display: block;
    }
    form input.submitBtn {
        display: block;
        padding: .5rem 2%;
        margin-bottom: 1rem;
        background-color: tomato;
        border-radius: .3em;
        margin-left: 2%;
        color: black;
    }
    /*End Storm Center Small CSS*/
    /*thank  you page for storm center*/
    
    h2#thankYouHeader {
        text-align: center;
    }
    p#thankYouParagraph {
        text-align: center;
    }