.flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


.cards{
     background: white;
     border: 5px black solid;
    max-width: 200px;

 }
 img {
     width: 100%;
     border-top: 5px gold solid;
     border-bottom: 5px gold solid;
     max-height: 250px;
 }

 p {
    justify-self: center;
    padding: 5px;
 }