/*Small Headers, Footers for All Pages*/

header img {
    width: 100%
}
header {
    background-color: #caffbf;
    display: grid;
    grid-template-columns: 25% 75%;
    position: relative;
}
header h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.0em;
    grid-column: 2/3;
    align-self: center;

}
nav {
    grid-column: 1/3;
    font-family: 'Bona Nova', serif;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    color:  #b66b21;
    position:absolute;
    left: 375px;
    top: 30px;
    
    
}
.navigation {
    list-style: none;
    padding: 0;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li a {
    
    display: block;
    padding: .6rem;
    text-decoration: none;
    color: black;
    background-color:  #d4a373;
}

nav ul.hide {
    display: none;
}

footer {
    background-color: #caffbf;
    min-height: 175px;
    display: grid;
    grid-template-rows: 35% 30% 25% 10%;
    text-align: center;
    
}
footer .scripture{
    grid-row: 1/2;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    padding: 3px;

}
footer .location{
    grid-row: 2/3;
    padding: 3px;
}
footer .copyright {
    grid-row: 3/4;
}
footer .iconcredit {
    font-size: .7em;
    grid-row: 4/5;
    justify-self: center;
}

/*Small Body for Home Page*/

body {
    margin: 0 auto;
    max-width: 425px;
    font-family: 'Bona Nova', serif;
}

.callToAction  {
    margin: 10px 0;
    padding: 5px;
    display: block;
    text-align: center;
    border:7px solid #d4a373;
    background-color: #caffbf;
}
.calltoActionButton {
    background-color:  #F7DD72;
    border-color: #d4a373;
}
.washingtonSummary {
    padding: 5px;
    border-style: dotted;
    border-color: #d4a373;
    
}